* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%
}

header {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8ec449;
}

.topnav {
  color: #ffff;
  width: 88%;
  height: 3.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #374a21c3;
  font-weight: bold;
}

.logo h3 {
  color: #8ec449;
}
.logo span {
  font-weight: bolder;
}

.navicons img {
  width: 1.5vw;
  padding-left: 1vw;
}

.navicons img:hover {
  /* padding-left: 1.2vw; */
  background-color: #8ec449;
  color: #fff;
  cursor: pointer;
}

.bottomnav {
  padding: 1.5vw 3vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.navigation {
  padding: 0 3vw;
  padding-bottom: 1.5vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12vw;
  /* flex-direction: column; */
}

.navlinks ul {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 0.8vw;
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
}

.navlinks ul a {
  text-decoration: none;
}

.usercart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.search {
  width: 90%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

#grocery-item {
  width: 30%;
  padding: 0.7vw 3vw;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #d1f1a9;
  border: none;
}

#grocery-item,
ul,
img,
button,
a:hover {
  cursor: pointer;
}

.search input {
  width: 60%;
  padding: 1vw;
  border: 2px solid #d1f1a9;
}

.search input:focus {
  border-color: #d1f1a9;
  mask-border-outset: #8ec449;
  border: 2px solid #8ec449;
  cursor: pointer;
}

.search button {
  padding: 0.7vw 1.5vw;
  background-color: #d1f1a9;
  border-radius: 5%;
  border: none;
}

.search button:hover {
  background-color: #8ec449;
  cursor: pointer;
}


/* Banner Section */
.banner {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: #dfffc0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5vw; */
  padding: 3vw 5vw;
}

.text {
  line-height: 2.5vw;
  width: 40%;
}

.text h1,
h2 {
  font-size: 2.5rem;
  line-height: 3.5vw;
  color: #8ec449;
}

.text button {
  margin-top:2VW ;
  padding: 0.8vw 2vw;
  font-size: 2.5rem;
  border-radius: 10px;
  font-weight: 400;
  background-color: #8ec449;
  color: #ffff;
  border: none;
}

.banner img {
  position: relative;
  width: 55vw;
  right: 4vw;
  overflow: hidden;
}

/* Banner Section */

/* Product Section */
.pro-cards {
  margin: 0 auto;
  padding: 4vw 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  gap: 4vw;
}

.cardlg {
  position: relative;
  display: flex;
  width: 100%;
  /* height: 10vw; */
  overflow: hidden;
  color: #000;
  /* background-color: red; */
}

.cardlg img {
  width: 70%;
  /* height: 10vw; */
  overflow: hidden;
}

.protextbg {
  position: absolute;
  left: 50%;
  top: -10%;
  width: 32vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #8ec449;
  /* text-align: left; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  letter-spacing: 0.2rem;
  padding: 2vw;
}
.protextbg h4 { 
font-family: "Playwrite IT Moderna", cursive;
font-weight: bold;
color: #000;
}
.protextbg span {
  font-weight: bolder;
}
.protextbg .smbutton {
  font-family: "Playwrite IT Moderna", cursive;
  padding: 0.4vw 1vw;
font-weight: bolder;
color: #000;
border-color:#d1f1a9;
background-color:#d1f1a9;
cursor: pointer;
}

/* Product Section */